$pageBackgroundcolor: #4c5d5a;
$bookAreabackgroundColor: #e0e2db;

$oneColumMaxWidth: 900px;
$pictureOnSideMinWidth: 500px;

$basicMarginWidth: 10px;
$basicPaddingWidth: 10px;

$pictureWidth: 200px;
$pictureHeight: 300px;
